html, body {
    background-color: #282c34;
    height: 100%;
}

#root {
    height: 100%;
}

h1 {
    text-align: center;
}

input {
    width: 100%;
    height: 1.5rem;
}

.App {
    height: 100%;
    color: #a1c3e2;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-template-areas:
        ". .";
}

.sidebar {
    margin-left: 5px;
    overflow: auto;
}

.full-height {
    height: 100%;
}

.nav-link {
    color: #a1c3e2;
}

.form-control {
    background-color: #282c34;
    color: #a1c3e2;
}

.form-control:focus {
    background-color: #404049;
    color: #b9c0c4;
}

.list-group-item {
    background-color: #282c34;
    font-size: smaller;
    padding: 0.2rem;
}
.list-group-item.active {
    background-color: #a6b0d0;
}
.list-group-item.active a {
    color: #282c34;
}

.card-header {
    background-color: #404049;
}
.card-header button {
    color: #b9c0c4;
}

.card-body {
    background-color: #282c34;
}

.list-group-item a {
    color: #a1c3e2;
}
